.venv/
venv/
env/
src/tb/results.xml
build/
__pycache__/

# Avoid accidental insecure commits
*.key

# Vim specific files
*.swp
*.swo

# TODO: remove when done
tb_old/
sw/test_old/

# custom config files in root directory, editor, interpreter configs etc.
/pyrightconfig.json
